<h2>Confirmation your email</h2>
<p>Hi, {{ name }} welcome to my site. I'm glad to join my blog.</p>
<p>Please click below to confirm your email</p>
<p><a href="{{ url }}">Confirm</a></p>
<br />
<p>If you did not request this email you can safely ignore it.</p>
